[client]
user_id=your_name_here
job_id=morf-prule-test
email_to=your_email@example.com
docker_url=s3://morf-public/mwe-prule/morf-prule-mwe.tar
controller_url=https://raw.githubusercontent.com/educational-technology-collective/morf/master/mwe-prule/controller.py
prule_url=https://raw.githubusercontent.com/educational-technology-collective/morf/master/mwe-prule/morf-prule-sample.txt

