[client]
user_id=your_name_here
job_id=morf-mwe
#email_to=your_email@example.com
#docker_url=s3://morf-public/mwe/mwe.tar
#controller_url=s3://morf-public/mwe/controller.py
controller_url=file:///Users/joshgardner/Documents/Github/morf/mwe/controller.py
docker_url=file:///Users/joshgardner/Documents/Github/morf/mwe/mwe.tar
email_to=joshua.patrick.gardner@gmail.com

